body {
    background-color: rgb(230, 230, 230);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
}

p {
    margin: 0px;
}

.header {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .header-text {
        width: 600px;
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0px 15px 0px;
    }

.post-column {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    border-radius: 3px;
    background-color: white;
    min-height: 410px;
    min-width: 600px;
    margin-bottom: 40px;
}

    .post-header {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

        .post-header-date {
            color: rgb(173, 173, 173);
        }


    
    .post-image {
        object-fit: cover;
    }
    
    .post-description {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 25px;
    }

    
    



